{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1>Bienvenue sur l'Application d'Analyse des Tweets!</h1>
    <p class="mt-3">
        Explorez les tendances actuelles et découvrez les sentiments exprimés sur Twitter.
        Utilisez la barre de recherche ci-dessus pour récupérer des tweets en temps réel et analyser leur polarité
        (positive, négative ou neutre). Visualisez également les tendances populaires du moment en un clin d'œil !
    </p>
    <p>Commencez dès maintenant et plongez dans ce que les utilisateurs partagent à travers le monde.</p>
</div>
{% endblock %}
